<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vuforia.engine.wet"
    tools:ignore="LockedOrientationActivity"
    >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <queries>
        <package android:name="com.kakao.talk" />
    </queries>

    <application
        android:name="com.application.GlobalApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:fullBackupOnly="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/appName"
        android:largeHeap="true"
        android:roundIcon="@mipmap/main_logo"
        android:supportsRtl="true"
        android:theme="@style/MyTheme"
        android:usesCleartextTraffic="true"
        tools:replace ="android:label,android:allowBackup"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">



        <service
            android:name="com.service.MyFireBaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.jeoksyeo.wet.activity.agreement.Agreement"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name="com.jeoksyeo.wet.activity.favorite.FavoriteActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name="com.jeoksyeo.wet.activity.search.Search"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name="com.jeoksyeo.wet.activity.level.LevelActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.jeoksyeo.wet.activity.comment.CommentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.jeoksyeo.wet.activity.alcohol_rated.AlcoholRated"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name="com.jeoksyeo.wet.activity.test.TestActivity">

        </activity>

        <activity android:name="com.jeoksyeo.wet.activity.alcohol_detail.AlcoholDetail"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.jeoksyeo.wet.activity.alcohol_category.AlcoholCategory"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name="com.jeoksyeo.wet.activity.setting.SettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.jeoksyeo.wet.activity.editprofile.EditProfile"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.jeoksyeo.wet.activity.main.MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name="com.jeoksyeo.wet.activity.splash.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.jeoksyeo.wet.activity.login.Login"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name="com.jeoksyeo.wet.activity.signup.SignUp"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao5282095928e58a24b423dcf6d20fa837" />
            </intent-filter>
        </activity>
    </application>
</manifest>