<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vuforia.engine.wet"
    tools:ignore="LockedOrientationActivity"
    >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <queries>
        <package android:name="com.kakao.talk" />
    </queries>

    <application
        android:name="com.application.GlobalApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:fullBackupOnly="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/main_logo"
        android:label="@string/appName"
        android:largeHeap="true"
        android:roundIcon="@mipmap/main_logo"
        android:supportsRtl="true"
        android:theme="@style/MyTheme"
        android:usesCleartextTraffic="true"
        tools:replace ="android:label"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.jeoksyeo.wet.activity.test.TestActivity">
        </activity>

        <activity android:name="com.jeoksyeo.wet.activity.alchol_detail.AlcholDetail"/>

        <activity android:name="com.jeoksyeo.wet.activity.alchol_category.AlcholCategory"/>

        <activity android:name="com.jeoksyeo.wet.activity.setting.SettingActivity"/>

        <activity android:name="com.jeoksyeo.wet.activity.editprofile.EditProfile">
        </activity>

        <activity
            android:name="com.jeoksyeo.wet.activity.main.MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name="com.jeoksyeo.wet.activity.splash.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.jeoksyeo.wet.activity.login.Login"
            android:screenOrientation="portrait" >

        </activity>

        <activity
            android:name="com.jeoksyeo.wet.activity.signup.SignUp"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao5282095928e58a24b423dcf6d20fa837" />
            </intent-filter>
        </activity>
    </application>
</manifest>